// index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Website
    link(rel="stylesheet", href="/client/css/style.css")
  body
    include ../partials/header.pug
    main
      block main
    footer
      p &copy; 29/06/2024 My Website.