extends ../../layout/default.pug
block main 
   section.hero
      h1 Welcome to My Website
      p Discover our amazing products
      a(href="products.html").btn Shop Now
   section.featured-products
      h2 Featured Products
      .product-grid
      .product-card
            img(src="https://tse2.mm.bing.net/th?id=OIP.f_gv5ptiDhHXi205aKv1WwAAAA&pid=Api&P=0&h=180", alt="Product 1")
            h3 Product 1
            p $19.99
            a(href="#").btn Buy Now