// views/index.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/admin/css/style.css')
  body
    include ../partials/header.pug
    main
      block main
        
    include ../partials/fotter.pug